@page "/EmployeeDetails/{id}"
@inherits EmployeeDetailsBase


    

<h3>Employee Details</h3>
<div class="row justify-content-center m-3">
    <div class="col-sm-8">
        <div class="card">
            <div class="card-header">
                    <h1> @Employee.FirstName @Employee.LastName</h1>
            </div>
            <div class="card-body">
                    <img class="card-img-top" src="@Employee.PhotoPath" />
                    <h4>Employee ID: @Employee.EmployeeId</h4>
                    <h4>Email: @Employee.Email</h4>
                    <h4>Department: @(Employee.Department == null ? "N/A" : Employee.Department.DepartmentName)</h4>
            </div>
            <div class="card-footer text-center">
                <a href="/" class="btn btn-primary m-1">Back</a>
                <a href="@($"EditEmployee/{Employee.EmployeeId}")" class="btn btn-info m-1"> Edit </a>
                <a href="#" class="btn btn-danger m-1"> Delete </a>
            </div>
        </div>
    </div>
</div>


